textarea {
     height: 100px;
}

body {
    background-color: #cccccc;
    background-repeat: no-repeat;    
}

img {
    float:right;
    clear: right;
    width:20%;
}

table {
    margin-left: auto;
    margin-right: 0;
}

